<link rel="stylesheet" href="static/css/style.css">
<div class="wrapper">
  <div class="form">
    <div class="title">
      Login
    </div>
    <form method="post">
      <div class="input_wrap">
        <span class="error_msg">Incorrect username or password. Please try again</span>
          {% csrf_token %}
          {{login_form}}
      </div>
      <button class="btn disabled input_wrap" style="padding: 15px" type="submit" >Login</button>
    </form>
      <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
  </div>
</div>